<!DOCTYPE html>
<html>
<head>
  <title>Distributable</title>
  <%= stylesheet_link_tag    "distributable/application", media: "all" %>
  <%= javascript_include_tag "distributable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
